<% provide(:title, 'Pagina de inicio')%>
<h1>Home</h1>
<p>
	Esta es la aplicacion Sample App desarrollada por el curso de Ruby on Rails de la <a href="http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1" target="_blank">Universidad Tecnologica Equinoccial</p>

</p>